.header {
    padding: 1em;
    background-color: #f6f6f6;
}

.flexContainer {
    margin-top: 3rem;
}

.flexElement {
    flex-basis: 50%;
    flex-shrink: 1;
}

.container {
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1em;
    background-color: #f6f6f6;
}

.background {
    background-color: #f6f6f6;
    background-size: cover;
}

.fontHeader1 {
    font-family: Montserrat, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    left: 50em;
    width: 1103px;
    min-height: 98px;

    color: #1E4391;
}

