.header {
    width: 100%;
    top: 0px;
    position: sticky;
    padding: 1em 0em;
    background-color: #ffffff;
    display: flex;
    z-index: 20;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    width: 100%;
    padding: 0em 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
}

#image_link_container {
    display: flex;
}

#img_container {
    padding-right: 51.74px;
}

#logo {
    margin-right: 0.5em;
}

.link {
    font-size: 18px;
    font-weight: 600;
    padding-right: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-decoration: none;
}

.search_button {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: none;
    background: var(--main_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    display: none;
}

.search_button:hover {
    cursor: pointer;
    background: #EF302B;
    transition: background-color 0.5s ease;
}
