<app-toolbar title={{name}}>
    <app-download-button (onClick)="onDownloadClick()"/>
    <app-close-button/>
</app-toolbar>
<app-token-table [tokens]="tokens" />
<app-add-button (clickEvent)="onAddButtonClick()" />
<app-dialog 
    title="Сгенерировать регистрационные токены" 
    leftButtonTitle="Отмена" 
    rightButtonTitle="Сгенерировать"
    (onLeftButtonClick)="onCloseDialogClick()"
    (onRightButtonClick)="onGenerateDialogClick()"
    [isOpen]="isOpen">
        <app-text-field title="Число токенов:" type="number" (fieldValue)="updateTokensCount($event)"/>
</app-dialog>