.notification {
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.title {
    display: flex;
    justify-content: center;
}

.marker {
    height: 5px;
}

.error {
    background: red;
}

.info {
    background-color: blue;
}