.grid_card {
    padding: 5px;
    position: relative;
    overflow: hidden;
    line-height: 1;
}

.grid_card_text_left {
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    min-height: 30px;
    padding-left: 24px;
    padding-top: 13px;
    text-underline: var(--primary_color);
}

.grid_card_text_left_point {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 100;
    min-height: 30px;
    padding-top: 8px;
}

.grid_card_text_right {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 400;
    min-height: 30px;
    width: 286px;
    padding-left: 1238px;
    padding-top: 13px;
}

.grid_link {
    text-decoration: none;
    color: #000000;
}

.grid_card_text_left:hover {
    color: var(--primary_color);
}

.grid_card_text_left:visited {
    color: var(--primary_color);
}
