.cancelButton {
    margin: 10px;
    background-image: url("../../../../public/CrudButtons/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    background-size: 100% 100%;
    background-color: #EF302B;
    transition: scale 0.5s ease;
}

.cancelButton:hover {
    cursor: pointer;
    scale: 1.1;
    transition: scale 0.5s ease;
}

.linkOverride {
    text-decoration: none;
    display: flex;
    align-items: center;
}