.flexContainer {
    margin-top: 3rem;
}

.flexElement {
    flex-basis: 50%;
    flex-shrink: 1;
}

.container {
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1em;
    background-color: #f6f6f6;
}

.background {
    background-color: #f6f6f6;
    background-size: cover;
}

.helperButtons {
    display: flex;
    background-position: center;
    background-size: contain;
    backgrount-repeat: none;
    position: absolute;
    right: 40px;
    top: 147px;
    vertical-align: bottom;
    border: none;
}
