.lightBlue {
    background-color: #3aa2d2;
}

.darkBlue {
    background-color: #233245;
}

.indigo {
    background-color: #4E6C99;
}

.primaryCard {
    padding: 1rem;
    border-radius: 1rem;
    min-width: 21rem;
}

.primaryCard:hover {
    cursor: pointer;
}

.name {
    flex-grow: 1;
    margin-right: 1rem;
}

.creditsCount {
    width: 5rem;
    flex-shrink: 0;
}

.triangleIcon {
    flex-shrink: 0;
}

.additionalInfo {
    padding: 1rem 2rem;

    margin-top: 1rem;
    background-color: rgba(209, 210, 221, 0.47);
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1rem;
}
