.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: #1E4391;
}

#container {
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1em;
    background-color: #f6f6f6;
}