.wrap {
    margin-top: 50px;

    width: 48vw;
    padding-left: calc(8vw + 30px);
}

.helpText {
    margin-left: calc(8vw + 30px);;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    min-width: 668px;
}

.simpleCard {
    color: white;
    background-color: #8C9194;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    white-space: normal;

    cursor: pointer;
    text-align: center;
}

.enabled {
    background-color: #008BD0;
}

.buttons {
    position: fixed;
    left: 30vw;
    bottom: 50px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button {
    height: 100px;
    background-color: #4E6C99;
}

.button:hover:enabled {
    background-color: #008BD0;
}

.button:disabled {
    background-color: rgba(78, 108, 153, 0.6);
}
