.container {
    /*padding: 0 300px;*/
    /*padding: 0 max(15%, 150px);*/
    padding: 0 5%;
    min-width: 1200px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.semesters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.semesterItem {
    width: 25%;
    min-width: 300px;
}

.semesterText {
    background-color: rgba(41, 141, 186, 0.37);
    width: min-content;
    padding: 10px 50px;
    border-radius: 20px;
}

.coursesContainer {
    display: flex;
    flex-direction: row;

    margin: 20px 0;
}

.semesterBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 23%;
    margin-right: 2%;
    min-width: 300px;
}

.semesterBlock:last-child {
    margin-right: 0;
}

.courseCard {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    white-space: normal;
}

.headerText {
    font-weight: bold;
}

.notFoundText {
    margin: 10px 0;
}
