<div class="container">
    <div class="img_container">
        <a href="https://urfu.ru/">
            <img src="/logo_urfu_white.svg" alt="urfu logo" />
        </a>
    </div>
    <img id="curve" src="/curve.svg" />
    <div id="title">
        <span>Автоматизация</span>
        <span>управления</span>
        <span>магистратурой</span>
    </div>


    <div class="formContainer">
        <app-login-form/>
        <!-- <div class="form"> -->
            <!-- <ButtonSelector groupName={"formSelector"} buttons={[{ label: "Вход", onClick: () => { } }, { label: "Регистрация", onClick: () => {}}]} checkedIndex={0} onChange={(e) => { -->
                <!-- if (e === "Регистрация") { -->
                    <!-- setIsRegistration(true) -->
                <!-- } -->
                <!-- if (e=== "Вход") { -->
                    <!-- setIsRegistration(false) -->
                <!-- } -->
            <!-- }} /> -->

            <!-- {!isRegistration && renderLoginForm()} -->
            <!-- {isRegistration && renderRegistrationForm()} -->
       <!-- </div> -->
    </div>
</div>