.grid_card {
    background-color: #ffffff;
    padding: 0.5em;
    padding-right: 1.5em;
    min-height: 6em;
    position: relative;
    overflow: hidden;
    line-height: 1;
    border-radius: 5px;
}

.grid_card_text {
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.grid_link {
    text-decoration: none;
    color: #000000;
}

.grid_link:hover {
    color: #000000;
}

.grid_link:visited {
    color: #000000;
}

.grid_card_img {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    transition: transform 0.5s ease-in-out;
}

.grid_card_img:hover {
    transform: scale(10);
    transition: transform 0.5s ease-in-out;
}

.grid_card:hover .grid_card_img {
    transform: scale(10);
        transition: transform 0.5s ease-in-out;
}

.grid_badge_show {
    position: absolute;
    bottom: 0.25em;
    right: 0.25em;
    background-color: rgba(239, 48, 43, 0.77);
    padding: 5px;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 5px;
}

.grid_badge_hide {
    display: none;
}