.header {
    padding: 1em;
    background-color: #f6f6f6;
}

.flexContainer {
    margin-top: 3rem;
}

.flexElement {
    flex-basis: 50%;
    flex-shrink: 1;
}

.container {
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1em;
    background-color: #f6f6f6;
}

.background {
    background-color: #f6f6f6;
    background-size: cover;
}

.fontHeader1 {
    font-family: Montserrat, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 57.2px;
    width: 1182px;
    min-height: 69px;

    color: #1E4391;
}

.label {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(34, 34, 34, 0.6);
    width: 173px;
    height: 47px;
}

.input {
    width: 713px;
    height: 60px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;

    padding-left: 0.5em;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
}

.required {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(251, 55, 39, 1);
    width: 173px;
    height: 47px;
    text-align: center;
}

.select {
    width: 713px;
    height: 60px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;

    padding-left: 0.5em;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
}

.select.option {
    width: 713px;
    height: 60px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;

    padding-left: 0.5em;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
}
