.title {
    font-family: Montserrat, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    left: 50em;
    padding: 0.25rem;
    color: var(--primary_color);
}